[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
psycopg2-binary = "*"
openai = "*"
scikit-learn = "*"
pandas = "*"
flask = "*"
streamlit = "*"

[dev-packages]
hyperopt = {extras = ["all"], version = "*"}
tqdm = "*"
notebook = "==7.1.2"
ipywidgets = "*"
python-dotenv = "*"
ipykernel = "*"
jupyter = "*"

[requires]
python_version = "3.12"
